* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
/* background */
#root {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
}
/* 첫번째 내용 레이아웃.*/
#root > div:nth-child(1) {
  width: 100vw;
  height: 20vh;
  background-color: #ff5733;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* 두번째 내용 레이아웃*/
#root > div:nth-child(2) {
  width: 100vw;
  height: 10vh;
  background-color: none;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* 햄버거 메뉴 */
#bergerMenu {
  width: 70px;
  height: 50px;
  background-image: url("../bergerIMG.jpg");
  background-repeat: round;
  margin-left: 15px;
}
/* 검색 박스 */
#serchBox {
  width: 300px;
  height: 30px;
  background-color: antiquewhite;
  border-radius: 5px;
}
button {
  width: 40px;
  height: 30px;
  background-color: #33ff57;
  border-radius: 5px;
}

/* 세번째 내용 레이아웃 */
#root > div:nth-child(3) {
  width: 100vw;
  height: 70vh;
  background-color: #f5f5f5;
  display: flex;
  justify-content: ;
}
/* 유저 정보창 */
.infopos {
  display: flex;
  align-items: flex-end;
}

#userInfo {
  width: 20vw;
  height: 40vh;
  background-color: #ff5733;
}
#userName {
  width: 150px;
  height: 20px;
  background-color: #ff5733;
}
#Assistant {
  width: 150px;
  height: 20px;
  background-color: #ff5733;
}
#userAvatar {
  width: 13vw;
  height: 20vh;
}
.box1 {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  margin-bottom: 10px;
}
.box2 {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  margin-bottom: 10px;
}
.box3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* 프롬프트 입력창. */
#promptMain {
  width: 80vw;
  height: 70vh;
  background-color: red;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
#promptBox {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
}
#prompt {
  width: 76vw;
  height: 56vh;
  background-color: darkgoldenrod;
  margin-bottom: 1vw;
}
#textBar {
  width: 70vw;
  height: 5vh;
  background-color: aliceblue;
  margin-bottom: 10px;
}
#textButton {
  width: 6vw;
  height: 5vh;
  background-color: aqua;
}
