* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
/* background */
#root {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
}
/* 첫번째 내용 레이아웃.*/
#root > div:nth-child(1) {
  width: 100vw;
  height: 20vh;
  background-color: #ff5733;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* 두번째 내용 레이아웃*/
#root > div:nth-child(2) {
  width: 100vw;
  height: 10vh;
  background-color: none;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* 햄버거 메뉴 */
#menuButton {
  font-size: 40px;
  margin-right: 10px; /* 수정: 오른쪽 여백 추가 */
  float: left; /* 왼쪽 정렬 추가 */
}
#menuContainer {
  display: flex;
  justify-content: center;
  align-items: start;
}
/* 초기에 메뉴를 숨김 */
.hidden {
  display: none;
}
/* 메뉴 스타일 지정 */
#bergerMenu {
  position: absolute;
  left: 0; /* 수정: 왼쪽 정렬 */
  width: 500px;
  margin-left: 50px; /* 수정: 여백 제거 */
  text-align: end;
  font-size: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  display: inline;
  padding: 10px;
  cursor: pointer;
}
li:hover {
  background-color: #f0f0f0;
}
/* 검색 박스 */
#serchBox {
  width: 300px;
  height: 30px;
  background-color: #f0f0f0;
  border-radius: 5px;
}
button {
  width: 40px;
  height: 30px;
  background-color: #33ff57;
  border-radius: 5px;
}

/* 세번째 내용 레이아웃 */
#root > div:nth-child(3) {
  width: 100vw;
  height: 70vh;
  background-color: #f5f5f5;
  display: flex;
  align-items: flex-end;
}
/* 유저 정보창 */

#userInfo {
  width: 20vw;
  height: 40vh;
  background-color: #ff5733;
}
#userName {
  width: 150px;
  height: 20px;
  background-color: #ff5733;
}
#Assistant {
  width: 150px;
  height: 20px;
  background-color: #ff5733;
}
#userAvatar {
  width: 13vw;
  height: 20vh;
  font-size: 100px;
  text-align: center;
}
.box1 {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  margin-bottom: 10px;
}
.box2 {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  margin-bottom: 10px;
}
.box3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* 프롬프트 입력창. */
#promptMain {
  width: 80vw;
  height: 70vh;
  background-color: #f0f0f0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
#promptBox {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
}
#prompt {
  width: 76vw;
  height: 56vh;
  background-color: #33ff57;
  margin-bottom: 1vw;
}
#textBar {
  width: 70vw;
  height: 5vh;
  background-color: #f5f5f5;
  margin-bottom: 10px;
}
#textButton {
  width: 6vw;
  height: 5vh;
  background-color: #ff5733;
}
